 
<%-  include( key+'/view/template/cabecera');%> 
   <body class="sb-nav-fixed">
       <%-  include( key+'/view/template/nav');%> 
        <%-  include( key+'/view/template/menulateral');%> 
        <%- include( key+'/view/template/footer',{clave:key});%> 
        <%- include( key+'/view/funciones/cargar_farmacos',{clave:key});%> 
      </body>

</html>
